<!DOCTYPE html>
  <html>
    <head>
      <title>About</title>
      <meta charset="utf-8">
    </head>

    <body>
      {{> header}}
      <p></p>
      <footer>
        <p>
          Copyright {{getCurrentYear}}
        </p>
      </footer>
    </body>
  </html>
