<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.6.3, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/mbr-721x1080.jpg" type="image/x-icon">
  <meta name="description" content="Site Maker Description">
  <title>Contributions</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">



</head>
<body>
  <section class="menu cid-qIIdeBjCVr" once="menu" id="menu1-m">


  {{> navbar}}
</section>

<section class="engine"></section><section class="header1 cid-qIVDy41FOr" data-bg-video="http://www.youtube.com/watch?v=uNCr7NdOJgw" id="header1-r">



    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Github Contributions</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2"></h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                    As developers, we strive to create things that are beyond incredible. Contributing to open source projects provides developers to manage large scale projects by them selves. Developers can then afford to work on their project with the help of others, in hope of creating something better<br><br>If you get a chance to contribute, then we can make production much faster.<br>
                </p>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-white display-4" href="page2.html#features16-t">
                        <span class="mbr-iconfont mbri-file"></span>My Github Contributions</a>
                    <a class="btn btn-md btn-white-outline display-4" href="http://github.com/s1iqbal" target="_blank"><span class="mbrib-github mbr-iconfont mbr-iconfont-btn"></span>
                        Github</a></div>
            </div>
        </div>
    </div>

</section>

<section class="features16 cid-qIVE74ILwk mbr-parallax-background" id="features16-t">



    <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
            Contribution Display</h2>
        <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">
            These are the current list of contribtions to opensource repositories. Striving to contribute as much as I can.</h3>
        <div class="row media-row">

        <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="assets/images/videojs-logo-646x322.jpg" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Video Js
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>Issue with TOUCH_ENABLED{#3306}
<br>
<br>This evaluate true with Windows 10 with touch screen and Browser: Chrome 50 and IE11, Edge and also with Windows Phone 10 and Edge.
<br>
<br> export const TOUCH_ENABLED = Dom.isReal() &amp;&amp; (
<br>'ontouchstart' in window ||
<br>+ window.navigator.maxTouchPoints ||
<br>window.DocumentTouch &amp;&amp;
<br>window.document instanceof window.DocumentTouch);
<br>
<br>export const BACKGROUND_SIZE_SUPPORTED = (
<br>Dom.isReal() &amp;&amp;
<br>'backgroundSize' in window.document.createElement('video').style);<br><br><br></p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://github.com/s1iqbal/video.js" target="_blank">
                            <span class="p-1 mbr-iconfont mbr-iconfont-social mbri-github"></span>
                        </a>

                        </a>
                    </div>
                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="assets/images/maxresdefault-1280x720.jpg" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           mozilla/pdf.js
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>PDF Reader in JavaScript<br><br>Enables "read with streaming" test in test/unit/network_spec.js #8851
<br>
<br>var isFirefoxWithMozChunkedEncodingSupport = /Mozilla\/5.0.*?rv:(\d+).*? Gecko/.exec(userAgent);
<br>
<br>var isFetchWithStreamSupport = typeof ReadableStream;
<br>
<br>let isFetchWithStreamSupport = (typeof Response !== 'undefined' &amp;&amp;
<br>'body' in Response.prototype &amp;&amp;
<br>typeof ReadableStream !== 'undefined');
<br>
<br>
<br>if (!isFirefoxWithMozChunkedEncodingSupport &amp;&amp; !isFetchWithStreamSupport) {
<br>pending('Streaming not supported by user agent, currently the supported ones are Firefox, Chrome, and Edge.');
<br>}<br></p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://github.com/s1iqbal/pdf.js" target="_blank">
                            <span class="p-1 mbr-iconfont mbr-iconfont-social mbri-github"></span>
                        </a>
                    </div>
                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="assets/images/d55f7b9f3db2bb63863e32fafb31fbbb-1109x612.png" alt="" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           webpack.js.org
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>New repository for webpack documentation and more! https://webpack.js.org<br><br>https://github.com/webpack/webpack.js.org/issues/1823
<br>
<br>The right location to link back to wiki from new docs page can be done by retrieving a SHA Key from the git commit tree.
<br><br></p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://github.com/webpack/webpack.js.org/issues/1823" target="_blank">
                            <span class="p-1 mbr-iconfont mbr-iconfont-social mbri-github"></span>
                        </a>
                    </div>
                </div>
            </div></div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/ytplayer/jquery.mb.ytplayer.min.js"></script>
  <script src="assets/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>


 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>
