<!DOCTYPE html>
<html >
<head>
  {{> meta}}
  {{> header}}
  {{> imports}}


</head>
<body>
{{> navbar}}

<section class="engine"><a href="http://handlebarsjs.com/">Handlebarjs/Node</a></section><section class="cid-qII75Bkzbo mbr-fullscreen mbr-parallax-background" id="header2-f">





    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1"><span style="font-weight: normal;">
                    Saad Iqbal</span></h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-7">
                    Computer Science Student<br>Web and Application Developer<br>Full Stack</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="https://github.com/s1iqbal" target="_blank">Github</a>
                    <a class="btn btn-md btn-white-outline display-4" href="/resume">Resume</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="cid-qII75BQsB7" id="footer1-g">





    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">

            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">Ryerson University</h5>
                <p class="mbr-text">350 Victoria St, Toronto, ON M5B 2K3</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">Email: s1iqbal@ryerson.ca<br>Phone: +1 (647) 575 9225 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br><br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Projects</h5>
                <p class="mbr-text">&nbsp;Note-App<br>Weather-Async<br></p>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright {{getCurrentYear}} Saad Iqbal</p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://www.linkedin.com/in/saad-iqbal-aa867112a/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(255, 255, 255);"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/saadiqbal123" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(255, 255, 255);"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://github.com/s1iqbal" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-github socicon" style="color: rgb(255, 255, 255);"></span>
                            </a>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/theme/js/script.js"></script>


 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>
