<!DOCTYPE html>
<html >
<style>
html, body {margin: 0; height: 100%; overflow: hidden}
</style>
<head>
  {{> meta}}
  {{> header}}
  {{> imports}}


</head>
<body>
  <section class="menu cid-qII75AyQRw" once="menu" id="menu1-e">



    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color black">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">


            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown navbar-nav-top-padding" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/"><span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>

                        Home</a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="/projects"><span class="mbri-more-horizontal mbr-iconfont mbr-iconfont-btn"></span>

                        Projects</a></li></ul>

        </div>
    </nav>
</section>
<div>
  <p>
    <br />
    <br />
  </p>
</div>
<embed src="resume.pdf#zoom=200" width="100%" height="1000">




  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/theme/js/script.js"></script>


 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>
